@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body.modal-open {
	height: 100%;            /* REMOVE */
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  touch-action: none; 
}

.touch-none {
	touch-action: none; /* REMOVE THIS */
  }
  
  .overscroll-contain {
	overscroll-behavior: none; /* Remove this as well */
  }