@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body.modal-open {
	height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  touch-action: none; 
}

body, table, td, th {
  user-select: text !important;
}

.touch-none {
	touch-action: none; 
  }
  
  .overscroll-contain {
	overscroll-behavior: none; 
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .customScroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; /* fallback if dvh is not supported */
  }


  /* Hide scrollbars in WebKit browsers (Chrome, Safari, Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in Firefox and IE/Edge */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


