@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body.modal-open {
	height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  touch-action: none; 
}

.touch-none {
	touch-action: none; 
  }
  
  .overscroll-contain {
	overscroll-behavior: none; 
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

html.plt-ios.plt-pwa {
  height: 99.9vh !important;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow: -moz-scrollbars-none; /* For older Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For modern Firefox */
}

